.bg-index-blue {
  background-color: #307AD4 !important;
}

.bg-navbar-blue {
  background-color: #61A6FA !important;
}

.nav-pills .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-pills .nav-link:hover {
  background-color: #83bbff62;
}

.form-control,
.form-select {
  border-radius: 8px;
}

.card-custom {
  border-radius: 16px;
}

.btn-outline-primary:hover {
  background-color: #4d8fe0;
  color: white;
}

.btn-primary {
  background-color: #307AD4;
  border: none;
}

.btn-primary:hover {
  background-color: #2563a8;
}