.bg-index-blue {
  background-color: #307AD4 !important;
}

.bg-navbar-blue {
  background-color: #61A6FA !important;
}

.nav-pills .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-pills .nav-link:hover {
  background-color: #83bbff62;
}

.form-control,
.form-select {
  border-radius: 8px;
}

.card-custom {
  border-radius: 16px;
}

.btn-outline-primary:hover {
  background-color: #4d8fe0;
  color: white;
}

.btn-primary {
  background-color: #307AD4;
  border: none;
}

.btn-primary:hover {
  background-color: #2563a8;
}

.agendamento-list-container,
#grid-salas {
  max-height: 40vh;
  overflow-y: auto;
}

.fc-event.evento-lab {
  --fc-event-bg-color: #d946ef;
  --fc-event-border-color: #c026d3;
}

.fc-event.evento-sala {
  --fc-event-bg-color: #0d6efd;
  --fc-event-border-color: #0a58ca;
}

.fc-event.evento-outro {
  --fc-event-bg-color: #198754;
  --fc-event-border-color: #146c43;
}

.fc-event-title {
    font-size: 0.85rem;
    font-weight: 600;
}

.fc .fc-button-primary {
    background-color: #61A6FA;
    border: none;
}

.fc .fc-button-primary:hover {
    background-color: #307AD4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fc .fc-toolbar-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.fc .fc-button-primary:disabled {
    background-color: #62748b;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background-color: #307AD4;
    border-color: var(--fc-button-active-border-color);
    color: var(--fc-button-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}
