.bg-index-blue {
  background-color: #307AD4 !important;
}

.bg-navbar-blue {
  background-color: #61A6FA !important;
}

.nav-pills .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-pills .nav-link:hover {
  background-color: #83bbff62;
}

.form-control,
.form-select {
  border-radius: 8px;
}

.card-custom {
  border-radius: 16px;
}

.btn-outline-primary:hover {
  background-color: #4d8fe0;
  color: white;
}

.btn-primary {
  background-color: #307AD4;
  border: none;
}

.btn-primary:hover {
  background-color: #2563a8;
}

.agendamento-list-container,
#grid-salas {
  max-height: 40vh;
  overflow-y: auto;
}

.fc-event.evento-lab {
  --fc-event-bg-color: #d946ef;
  --fc-event-border-color: #c026d3;
}

.fc-event.evento-sala {
  --fc-event-bg-color: #0d6efd;
  --fc-event-border-color: #0a58ca;
}

.fc-event.evento-outro {
  --fc-event-bg-color: #198754;
  --fc-event-border-color: #146c43;
}